<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
    <h1>Enter Your Datas</h1>
    <form action="/submit" method="POST">
        <label for="input_data1">AGE:</label>
        <input type="number" id="input_data1" name="input_data1" required><br>
        <label for="input_data2">LEAVES USED:</label>
        <input type="number" id="input_data2" name="input_data2" required><br>
        <label for="input_data3">LEAVES REMAINING:</label>
        <input type="number" id="input_data3" name="input_data3" required><br>
        <label for="input_dat4">RATINGS:</label>
        <input type="number" id="input_data4" name="input_data4" required><br>
        <label for="input_data5">PAST EXPERIENCE:</label>
        <input type="number" id="input_data5" name="input_data5" required><br>
        <label for="input_data6">DESIGNATION:</label>
        <input type="radio" id="input_data6" name="input_data6" value="1" required>Analyst
        <input type="radio" id="input_data6" name="input_data6" value="2" required>Associate
        <input type="radio" id="input_data6" name="input_data6" value="3" required>Director
        <input type="radio" id="input_data6" name="input_data6" value="4" required>Manager
        <input type="radio" id="input_data6" name="input_data6" value="5" required>Senior Analyst
        <input type="radio" id="input_data6" name="input_data6" value="6" required>Senior Manager<br>
        <label for="input_data7">UNIT:</label>
        <input type="radio" id="input_data7" name="input_data7" value="1" required>Finance
        <input type="radio" id="input_data7" name="input_data7" value="2" required>IT
        <input type="radio" id="input_data7" name="input_data7" value="3" required>Management
        <input type="radio" id="input_data7" name="input_data7" value="4" required>Marketing
        <input type="radio" id="input_data7" name="input_data7" value="5" required>Operations
        <input type="radio" id="input_data7" name="input_data7" value="6" required>Web <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
